.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 700px;
    height: 460px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    box-shadow: 5.33066px 7.99599px 11.994px 7.99599px rgba(0, 0, 0, 0.44);
    background-color: #F6FFFF;
    color: #0E403F;
    text-decoration: none;
    border: none;
}

.popup-texto {
    display: flex;
    flex-direction: row;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
}

.img-cat {
    display: block;
    width: 15vw;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-items: end;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 30px;
    border: none;
}

